* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: black;
  --color-white: #fff;
  --color-green: #7bae37;
  --color-bg: #f2f1f1;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  text-decoration: none;
  list-style: none;
}

body {
  /* color: var(--color-white); */
  background-color: var(--color-bg);
  font-size: 18px;
}
